<section class="row" id="developer-detail" >
</section>

<section >
    <div class="row" id="react-container">
        <div class="col-md-8" id="developers-painel">
            Carregando...
        </div>
        <div class="col-md-4" id="cart-items">

        </div>
    </div>
</section>

