<section class="row" id="developer-detail" >
</section>
<section >
    <div class="row">
        <div class="col-md-9" id="react-app">

        </div>
        <div class="col-md-3" id="cart-items">

        </div>
    </div>
</section>

<section id="stage"></section>
